<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <rules>
    <logger name="*"
            minlevel="Info"
            writeTo="console"
            xdt:Transform="Replace"
            xdt:Locator="Match(writeTo)"/>
  </rules>
</nlog>